In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv(r"Naive Bayes Dataset - Sheet1 (1).csv")
df

    SL marital status education status housing loan deposit
0    1       divorced        secondary     yes  yes      no
1    2        married         tertiary      no   no     yes
2    3         single        secondary     yes   no      no
3    4         single         tertiary      no  yes      no
4    5         single        secondary      no   no      no
5    6        married         tertiary     yes   no     yes
6    7        married         tertiary      no  yes     yes
7    8       divorced        secondary      no  yes      no
8    9        married          primary      no   no     yes
9   10       divorced        secondary     yes   no      no
10  11        married          primary      no  yes      no
11  12         single        secondary      no   no     yes
12  13        married          primary     yes   no     yes
13  14         single          primary      no  yes      no
14  15       divorced        secondary     yes   no     yes

In [3]:
df_yes = df.loc[df['deposit']=="yes"] 
df_yes

    SL marital status education status housing loan deposit
1    2        married         tertiary      no   no     yes
5    6        married         tertiary     yes   no     yes
6    7        married         tertiary      no  yes     yes
8    9        married          primary      no   no     yes
11  12         single        secondary      no   no     yes
12  13        married          primary     yes   no     yes
14  15       divorced        secondary     yes   no     yes

In [4]:
df_no = df.loc[df['deposit']=="no"] 
df_no

    SL marital status education status housing loan deposit
0    1       divorced        secondary     yes  yes      no
2    3         single        secondary     yes   no      no
3    4         single         tertiary      no  yes      no
4    5         single        secondary      no   no      no
7    8       divorced        secondary      no  yes      no
9   10       divorced        secondary     yes   no      no
10  11        married          primary      no  yes      no
13  14         single          primary      no  yes      no

In [5]:
total_rows= len(df.index)
total_rows

15

In [ ]:
#couting rows of deposit no
no_size=len(df_no.index)
no_size

8

In [ ]:
#couting rows of deposit yes
yes_size=len(df_yes.index)
yes_size

7

In [8]:
probability_deposit_yes=float(yes_size/total_rows)
probability_deposit_yes

0.4666666666666667

In [9]:
probability_deposit_no=float(no_size/total_rows)
probability_deposit_no

0.5333333333333333

In [ ]:
# Extract unique values and category sizes
unique_list_total = []

for col in df:
    value = len(df[col].unique())
    unique_list_total.append(value)
    

for x in range(len(unique_list_total)):
    print(unique_list_total[x])

15
3
3
2
2
2

In [11]:
value=[]
for col in df:
    dfg= df[col].unique()    
    value.append(dfg)
    

value

[array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15],
       dtype=int64),
 array(['divorced', 'married', 'single'], dtype=object),
 array(['secondary', 'tertiary', 'primary'], dtype=object),
 array(['yes', 'no'], dtype=object),
 array(['yes', 'no'], dtype=object),
 array(['no', 'yes'], dtype=object)]

In [ ]:
#Define the categorical columns to analyze
column = ['marital status', 'education status','housing','loan']

for l in column:
    print(l)

marital status
education status
housing
loan

In [ ]:
##Frequency table for "yes"
m=1
r=1
arr_yes = []
for i in column:
    col=[]
    c=0
    while c<unique_list_total[m]:
        yes_values = df_yes.loc[df_yes[i] == value[r][c]] 
        cnt = len(yes_values)
        col.append(cnt)
      
        c=c+1
   
    arr_yes.append(col)
    m=m+1
    r=r+1
print(arr_yes)
#AlhamdulilAllah

[[1, 5, 1], [2, 3, 2], [3, 4], [1, 6]]

In [ ]:
##Frequency table for "no"
m=1
r=1
arr_no = []
for i in column:
    col=[]
    c=0
    while c<unique_list_total[m]:
        no_values = df_no.loc[df_no[i] == value[r][c]] 
        cnt = len(no_values)
        col.append(cnt)
        c=c+1
    
    arr_no.append(col)
    m=m+1
    r=r+1
print(arr_no)
#AlhamdulilAllah

[[3, 1, 4], [5, 1, 2], [3, 5], [5, 3]]

In [16]:
df_test =pd.read_csv(r"test.csv")
df_test

   SL marital status education status housing loan
0   1         single          primary     yes  yes
1   2        married         tertiary      no   no
2   3         single        secondary     yes  yes
3   4        married          primary      no   no
4   5       divorced        secondary      no  yes

In [18]:
df_test = df_test.drop(columns=['SL'])
df_test

  marital status education status housing loan
0         single          primary     yes  yes
1        married         tertiary      no   no
2         single        secondary     yes  yes
3        married          primary      no   no
4       divorced        secondary      no  yes

In [ ]:
# #Multiplication helper
# def mul(arr):
#     m=1
#     for i in range (len(df_test.columns)):
#         m=m*arr[i]
#     return m

In [34]:
#Multiplication helper
def mul(arr):
    result = 1
    for val in arr:
        result *= val
    return result

In [ ]:
# #conditional probability calculation for "yes"
# calculate_yes=[]
# NB_yes=[]
# def cond_matching_yes(brr):
#     l=1
#     for i in range (len(df_test.columns)):
        
#         for j in range (0,unique_list_total[i+1]):
            
#             if brr[i] == value[i+1][j]:
#                 calculate_yes.append( float((arr_yes[i][j]+1)/(yes_size+unique_list_total[l])))
#                 l=l+1
#     #print(calculate_yes)
#     m = mul(calculate_yes)
#     m= m*(yes_size/total_rows)
#     NB_yes.append(m)
   
#     calculate_yes.clear()

In [ ]:
# #conditional probability calculation for "no"
# calculate_no=[]
# NB_no=[]

# def cond_matching_no(brr):
#     l=1
#     for i in range (len(df_test.columns)):
        
#         for j in range (0,unique_list_total[i+1]):
            
#             if brr[i] == value[i+1][j]:
#                 calculate_no.append(float((arr_no[i][j]+1)/(no_size+unique_list_total[l])))
#                 l=l+1
  
#     #print(calculate_no)
#     m = mul(calculate_no)
#     m= m*(no_size/total_rows)
#     NB_no.append(m)
    
#     calculate_no.clear()

In [35]:
#Merged conditional probability calculation
NB_yes = []
NB_no = []

def cond_matching(brr, arr, size, class_label):
    calculate = []
    for i in range(len(df_test.columns)):
        for j in range(unique_list_total[i + 1]):
            if brr[i] == value[i + 1][j]:
                prob = (arr[i][j] + 1) / (size + unique_list_total[i + 1])
                calculate.append(prob)
                break
    result = mul(calculate) * (size / total_rows)
    if class_label == "yes":
        NB_yes.append(result)
    else:
        NB_no.append(result)

In [ ]:
# #Run prediction loop
# inputt = []

# for i in range(0,len(df_test)):
#     brr=[]
#     for j in range(0,len(df_test.columns)):
#         x= df_test.iloc[i,j]
#         brr.append(x)
#     cond_matching_yes(brr)
#     cond_matching_no(brr)
#     inputt.append(brr)
# #inputt
# #calculate

In [36]:
#Run prediction loop
inputt = []
for i in range(len(df_test)):
    brr = [df_test.iloc[i, j] for j in range(len(df_test.columns))]
    cond_matching(brr, arr_yes, yes_size, "yes")
    cond_matching(brr, arr_no, no_size, "no")
    inputt.append(brr)

In [23]:
NB_no

[0.015867768595041323,
 0.004231404958677686,
 0.031735537190082645,
 0.006347107438016529,
 0.03808264462809917]

In [24]:
NB_yes

[0.002765432098765432,
 0.04839506172839506,
 0.002765432098765432,
 0.0362962962962963,
 0.00345679012345679]

In [37]:
#Final predictions
deposit=[]
for i in range(0,len(df_test)):
    if NB_yes[i] <= NB_no[i]:
        deposit.append('No')
    else :
        deposit.append('Yes')

In [38]:
deposit

['No', 'Yes', 'No', 'Yes', 'No']

In [39]:
df_test['deposit'] =pd.DataFrame(deposit)

In [40]:
df_test

  marital status education status housing loan deposit
0         single          primary     yes  yes      No
1        married         tertiary      no   no     Yes
2         single        secondary     yes  yes      No
3        married          primary      no   no     Yes
4       divorced        secondary      no  yes      No